*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #15171a;
    width: 100%;
    color: #fff;
    font-family: sans-serif;
    
}

input{
    line-height: 29px;
    padding: 4px 6px;
}